/* menu mobile */

.navbar__mobile-btn {
    display: none;
}

.navbar__mobile-list {
    display: none;
}




@media (max-width: 1024px) {
    .navbar__mobile-btn {
        display: flex;
    }

    .navbar__list {
        display: none;
    }

    .navbar__mobile-list{
        display: none;
        position: absolute;
        top: 98%;
        width: 100%;
        background-color: var(--color-bg-navbar);
        z-index: 10;
        padding: 1.5rem;
        text-transform: uppercase;
    }

    .mobile-list__item{
        width: 100%;
        padding: .5rem 2rem;
        border-bottom: 1px solid var(--color-border-list);

    }

    .mobile-list__item:last-child{
        border-bottom: none;
    }

    .mobile-list__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-list__link{
        display: block;
        width: 85%;
        font-weight: 400;
        line-height: 3rem;
        font-size: 1.5rem;
        color: var(--color-primary);
    }

    
    /* submenu-mobile */

    .mobile-list__icon{
        cursor: pointer;
    }

    .mobile-list__icon .fa-solid{
        font-weight: bold;
        color: var(--color-secondary);
        font-size: 1.8rem;
    }

    .mobile-list__msubmenu{
        display: none;
        padding: 1rem 0 0 4rem;
    }

    .msubmenu__item{
        margin-bottom: 1rem;
        font-weight: 400;
    }




    /* Layout */

    .layout{
        width: 70%;
        min-width: 74rem;
        margin: 0 auto;
        grid-template-areas: 
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main main"
        "aside aside";
    }

    /* cabecera */

    .layout__header{
        display: flex;
        justify-content: center;
    }


    /* slider */

    .layout__slider{
        grid-template-areas:    "uno dos dos dos"
                                "tres dos dos dos"
                                "cuatro cuatro cinco cinco";
    }

    .slider__container--slider5{
        width: 100%;
        height: 24rem;
    }

    .slider__container--slider2{
        width: 100%;
        height: 24rem;
    }




    /* mejores momentos */

    .highlights__posts{
        flex-wrap: wrap;
    }

    .highlights__post{
        width: calc(50% - 1.8rem);
    }



    /* videos */

    .videos__container{
        flex-direction: column;
        gap: 0;
        margin-left: 0;
    }

    .container__videos{
        margin-left: 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 3rem;
    }

    .videos__list{
        width: calc(50% - 1rem); 
    }

    




    /* carousel */

    .carousel-games__item--hidden{
        display: none;
    }

    .carousel-games__item{
        width: 100%;
        
    }



    /* aside */
    .layout__aside{
        margin-bottom: 3rem;
    }




    /* footer */
    .footer__container{
        width: 70%;
        min-width: 74rem;
        flex-direction: column;
    }

    .footer__left-container, 
    .footer__center-container,
    .footer__right-container{
        margin-bottom: 3rem;
        width: 100%;
    }

    .fslider__img{
        width: 100%;
    }




    .layout__main{
        margin: 0;
    }


    .menu__open{
        display: block;
    }

}

@media (max-width: 775px){

    .layout{
        width: 57%;
        min-width: 57rem;
        margin: 0 auto;
    }

     /* footer */
     .footer__container{
        width: 57%;
        min-width: 57rem;
        flex-direction: column;
    }

    .slider__container--slider5{
        width: 100%;
        height: 20rem;
    }

    .slider__container--slider2{
        width: 100%;
        height: 20rem;
    }


}

@media (max-width: 590px){

    
    .layout{
        width: 35%;
        min-width: 35rem;
        margin: 0 auto;
        grid-template-areas: 
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main main"
        "aside aside";
    }


    .layout__slider{
        grid-template-areas:    "uno uno uno uno"
                                "dos dos dos dos"
                                "tres tres tres tres"
                                "cuatro cuatro cuatro cuatro";
        column-gap: 0;
        grid-template-columns: 100%;
    }

    .slider__container--slider5{
        width: 100%;
        height: 24rem;
        height: auto;
    }

    .slider__container--slider2{
        width: 100%;
        height: 24rem;
        height: auto;
    }

    .highlights__posts{
        flex-direction: column;
    }

    .highlights__post{
        width: 100%;
    }




    .videos__container{
        flex-direction: column;
        gap: 0;
        margin-left: 0;
    }

    .videos__main-video{
        flex-basis: 100%;
        
    }
    .main-video__youtube{
        height: 24rem;
    }

    .container__videos{
        margin-left: 0;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0;
        margin-top: 0;
    }

    .video__info{
        justify-content: space-between;
    }

    .videos__list{
        width: 100%; 
    }

    .videos__video{
        margin-top: 2rem;
    }




    .carousel-games__item--hidden2{
        display: none;
    }



    .news__main-post{
        flex-direction: column;
    }
    .main-post__info{
        padding-left: 0;
        flex-basis: 100%;
    }

    .new-post__container-image{
        padding-right: 0;
    }

    .main-post__title{
        font-size: 2rem;
        margin-top: 2rem;
    }

    

    .news__list{
        flex-direction: column;
    }

    .news__post{
        width: 100%;
    }



    .games__container{
        flex-direction: column;
    }




    .posts__container{
        flex-direction: column;
    }



    /* footer */
    .footer__container{
        width: 35%;
        min-width: 35rem;
        
    }

    .tags__tag{
        padding: .5rem;
    }

    .footer__text{
        font-size: 1.2rem;
    }


    .marquee__header{
        display: none;
    }

    .visible{
        width: 23.5rem;
    }

}


@media (max-width: 350px){

    .layout{
        width: 100%;
        min-width: auto;
        margin: 0;
    }

    .footer__container{
        width: 100%;
        min-width: auto;
        margin: 0;
    }
}