/* Variables */

:root{
    --color-secondary: #319153;
    --color-primary: #fff;
    --color-bg-navbar: #333946;
    --color-text-marquee: #7c7c7c;
    --color-bg-marquee: #EEE;
    --color-border-list: rgba(255,255,255, .3);
    --color-hover-sublist-item: rgba(0,0,0,.1);
    --color-shadow: rgba(0,0,0,.10);
    --color-bg-aside: #F5F5F5;
    --color-twitter: #2FC2F0;
    --color-facebook: #4D65A4;
    --color-youtube: #CC191E;
    --color-instagram: #EA4C89;
    --color-linkedin: #F4A62A;

}

/* Estilos generales */

body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
    font-size: 1.6rem;
    background-color: var(--color-primary);
}

p{
    font-weight: 100;
}

html{
    font-size: 10px;
}


/* Barra decorativa */
.decoration-bar{
    width: 100%;
    background-color: var(--color-secondary);
    min-height: 2.8rem;
}

/* Layout principal */

.layout{
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "marquee marquee"
        "slider slider"
        "high high"
        "videos videos"
        "carousel carousel"
        "main aside";

    grid-template-columns: 70% 30%;
    width: 66vw;
    min-width: 100rem;
    margin: 0 auto;
}

/* Header */

.layout__header{
    grid-area: header;

    width: 100%;
    min-width: 100%;
    padding: 2rem 0;
}

.header__logo{
    width: 19rem;
}



/* Navegador */

.layout__nav{
    grid-area: nav;
    position: relative;
    width: 100%;
}

.nav__navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;

    color: var(--color-primary);
    background-color: var(--color-bg-navbar);

}

.navbar__list{
    display: flex;
    align-items: center;
}

.navbar__item{
    padding: 1.8rem;
    
    
}
.navbar__item:hover{
    background-color: var(--color-secondary);
}

.navbar__link{
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar__search{
    display: flex;
    height: 100%;
   
}

.search__input{
    display: none;
    width: 20rem;
    height: 100%;
    font-size: 1.8rem;
    background-color: var(--color-secondary);
    border: none;
    outline: none;
    color: var(--color-primary);

    transition: all 300ms ease-in-out;
}
.search__input::placeholder{
    color: var(--color-primary);
    opacity: 1;
    padding: .5rem;
}

.navbar__btn-search{
    background-color: var(--color-secondary);
    padding: .8rem 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}


.search__icon{
    cursor: pointer;
    font-size: 3rem;
    color: var(--color-primary);
}

/* Submenu */

.navbar__submenu{
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    overflow: hidden;
    background-color: var(--color-secondary);

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    display: flex;
}

.navbar__submenu--small{
    left: 28%;
    width: 20%;
    overflow: visible;
}
.navbar__submenu--small > .navbar__sublist{
    width: 100%;
}

.navbar__item:hover .navbar__submenu{
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
}

.navbar__item:hover .submenu__carousel{
    display: block;
}

.navbar__sublist{
    display: inline-block;
    padding: 1rem;
    width: 25%;
}

.sublist__item{
    padding: .1rem 0;
    position: relative;
    border-bottom: 1px solid var(--color-border-list);
}

.sublist__item:hover{
    background-color: var(--color-hover-sublist-item);
}

.sublist__link{
    color: var(--color-primary);
    padding: .5rem 1rem;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap;
}

.sublist__dropdown{
    position: absolute;
    left: 100%;
    top: 0;
    padding: 1rem;
    width: 21rem;

    background-color: var(--color-primary);
    box-shadow: 2px 0 2px -1px var(--color-shadow);
    opacity: 0;
    visibility: hidden;
    z-index: 9;
}

.sublist__item:hover .sublist__dropdown{
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
}

.dropdown__item{
    border-bottom: 1px solid var(--color-hover-sublist-item);
}
.dropdown__item:last-child, .sublist__item:last-child{
    border-bottom: none;
}

.dropdown__item:hover{
    background-color: var(--color-hover-sublist-item);
}

.dropdown__link{
    color: var(--color-bg-navbar);
    padding: .5rem 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

/* submenu carousel */


.carousel__menu{
    display: flex;
    
}

.carousel__item{
    flex-basis: 25%;
    position: relative;
}

.carousel__menu--small > .carousel__item{
    flex-basis: auto;
}

.carousel__container-img{
    width: calc(100% + 3.5rem);
    position: relative;
    height: 35rem;
    overflow: hidden;
}

.carousel__img{
    width: 100%;
    height: 100%;
}

.carousel__container-rating{
    position: absolute;
    bottom: 2rem;
    left: 40%;
    width: 4.8rem;
    height: 4.8rem;
}

.carousel__detail{
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
}

.container-rating__circle{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--color-secondary);
    padding: .2rem;
}

.container-rating__border{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 2px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-rating__mark{
    font-weight: 700;
    color: var(--color-primary);
}

.carousel__link{
    color: var(--color-primary);
    background-color: var(--color-shadow);
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px black;
    transition: all 300ms ease-in-out;
}

.carousel__title:hover > .carousel__link{
    background-color: var(--color-secondary);
}








/* Marquecina */
.layout__marquee{
    grid-area: marquee;

    width: 100%;
    height: 4rem;
    min-height: 4rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 3rem;
    background-color: var(--color-bg-marquee);
    
}

.marquee__header{
    position: relative;
    z-index: 5;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    white-space: nowrap;
    background-color: var(--color-secondary);
    padding: .4rem;
    color: var(--color-primary);
    margin-right: 1rem;
    
}

.marquee__container{
    overflow: hidden;
    display: flex;
}

.marquee__list{
    display: flex;
    align-items: center;
    gap: 20rem;
}

.marquee__item:first-child{
    margin-left: 10rem;
}

.marquee__title{
    font-size: 1.7rem;
    font-weight: 700;
    font-style: normal;
    white-space: nowrap;
}

.marquee__link{
    color: var(--color-text-marquee);
}

.marquee__link::before{
    content: "+ ";
    color: var(--color-secondary);
    font-weight: 700;
}

.marquee__link:hover{
    color: var(--color-secondary);
}






/* Slider */
.layout__slider{
    grid-area: slider;

    width: 100%;
    display: grid;
    grid-template-areas: 
    "uno dos tres"
    "cuatro dos cinco";
    grid-template-columns: 25% 50% 25%;
    gap: .3rem;
    overflow: hidden;
    margin-bottom: 3rem;
}

.slider__container--slider1{
    grid-area: uno;
    position: relative;

}

.slider__rating{
    position: absolute;
    z-index: 2;
    top: 2%;
    right: 2%;
    width: 4.2rem;
    height: 4.2rem;
}
.rating__circle{
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: 30px;
    padding:.2rem;
}

.rating__border{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.rating__mark{
    color: var(--color-primary);
    font-weight: 700;
}

.slider__container--slider2{
    grid-area: cuatro;
}

.slider__container--slider3{
    grid-area: dos;
}

.slider__container--slider4{
    grid-area: tres;
}

.slider__container--slider5{
    grid-area: cinco;
}

.slider__img{
    min-width: 100%;
    min-height: 100%;

    transition: all 300ms ease-in-out;
}
.slider__container:hover .slider__img{
    transform: scale(1.1);
}

.slider__container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slider__info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--color-primary);
    padding: 1rem;
}

.slider__category{
    font-weight: 400;
    font-size: 1.3rem;
    text-shadow: 1px 1px 3px var(--color-bg-navbar);
}

.slider__line{
    width: 4rem;
    height: .2rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    background-color: var(--color-secondary);
}

.slider__title{
    font-size: 1.7rem;
    text-shadow: 1px 1px 3px var(--color-bg-navbar);
    
}

.slider__link-title{
    font-size: 1.7rem;
    text-shadow: 1px 1px 3px var(--color-bg-navbar);
    color: var(--color-primary);
    text-transform: uppercase;
}






/* Mejores momentos */
.layout__highlights{
    grid-area: high;
    width: 100%;
}

.highlights__subheader{
    width: 100%;
    height: 4rem;
    padding: .5rem;
    background-color: var(--color-bg-navbar);
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

.subheader__title{
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    padding: .4rem;
    background-color: var(--color-secondary);
}

.highlights__posts{
    display: flex;
    gap: 3.5rem;
    position: relative;
}

.highlights__category{
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: .5rem 1rem .5rem 2rem;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;

    position: absolute;
    top: 32%;
}

.highlights__title{
    font-size: 2.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.highlights__meta{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.highlights__author{
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: 1.3rem;
    font-weight: 400;
}

.highlights__date{
    font-size: 1.3rem;
    color: var(--color-text-marquee);
    text-transform: uppercase;
    opacity: .7;
    font-weight: 400;
}


.highlights__description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.highlights__footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-text-marquee);
    margin-bottom: 1.5rem;

    opacity: .4;
}

.footer-post__container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-post__comments{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.footer-post__read-more{
    border: 1px solid var(--color-text-marquee);
    padding: .5rem .5rem;
    font-size: 1.3rem;
    text-transform: capitalize;
}







/* Videos */
.layout__videos{
    grid-area: videos;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.videos__subheader{
    display: flex;
    background-color: var(--color-bg-navbar);
    padding: .5rem;
    margin-bottom: 3rem;
}

.videos__container{
    display: flex;
    
}

.videos__main-video{
    flex-basis: 66%;
}
.main-video__yt-video{
    width: 100%;
    
}
.main-video__youtube{
    width: 100%;
    height:46rem;
}

.main-video__detail{
    height: auto;
    width: 100%;
    padding: 1.5rem 0 2.5rem;
    border-bottom: 1px solid var(--color-hover-sublist-item);
}

.main-video__title{
    font-size: 2.7rem;
    text-transform: uppercase;
    padding: .5rem 0;
}

.main-video__author{
    color: var(--color-secondary);
}

.main-video__info{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.main-video__info-container{
    display: flex;
    gap: 2rem;
}

.main-video__views{
    opacity: .4;
}

.main-video__comments{
    display: flex;
    align-items: center;
    gap: .5rem;
    opacity: .4;
}

.main-video__date{
    opacity: .4;
}

/* lista videos */
.container__videos{
    flex-basis: calc(34% - 3.5rem);
    margin-left: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    
}
.videos__list{
    display: flex;
    justify-content: space-between;
}
.videos__video{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding-bottom: 1.7rem;
    border-bottom: 1px solid var(--color-hover-sublist-item);
    
}


.video__title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    padding-bottom: .8rem;
    font-weight: 700;
    
}


.video__info{
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.video__author{
    color: var(--color-secondary);
    font-weight: 400;
}
.video__date{
    opacity: .4;
}

.video__img{
    width: 8.6rem;
}












/* Carousel */
.layout__carousel-games{
    grid-area: carousel;
    margin: 1.5rem 0;
    background-color: var(--color-bg-navbar);
    padding: 3.4rem;
}

.carousel-game__list{
    display: flex;
}


.carousel-games__item{
    flex-basis: 25%;
    position: relative;
}

.carousel-games__image-container{
    width: 100%;
    overflow: hidden;
}

.carousel-games__image-container:hover .carousel-games__img{
    transform: scale(1.1);
    
}

.carousel-games__img{
    width: 100%;
    transition: all 300ms ease-in-out;
}

.carousel-games__info{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel-games__title{
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 600;
    
    
}

.carousel-games__category{
    text-transform: uppercase;
    color: var(--color-primary);
    opacity: .8;
    font-size: 1.3rem;
}

.carousel-games__line{
    background-color: var(--color-secondary);
    height: .2rem;
    width: 5rem;
    margin-left: 11rem;
    margin-bottom: 1rem;
    margin-top: .5rem;

}

.carousel-games__rating{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 2%;
    right: 2%;
    
}

.circle__border{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__mark{
    color: var(--color-primary);
    font-weight: 700;
}







/* Main */
.layout__main{
    grid-area: main;
    margin-right: 3.5rem;
}

/* noticias */
.main__news{
    margin: 6rem 0;
    
}

.news__subheader{
    display: flex;
    background-color: var(--color-bg-navbar);
    width: 100%;
    padding: .5rem;
    margin-bottom: 3rem;
}
.news__title{
    color: var(--color-primary);
    background-color: var(--color-secondary);
    font-weight: 400;
    padding: .4rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.news__main-post{
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-hover-sublist-item);
    margin-bottom: 3rem;
}

.new-post__container-image{
    flex-basis: 50%;
    padding-right: 1.5rem;
    position: relative;
}
.main-post__img{
    width: 100%;
}

.main-post__container-category{
    background-color: var(--color-secondary);
    display: inline-block;
    color: var(--color-primary);
    padding: .4rem;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    position: absolute;
    bottom: 20%;
    left: 0;
}



.main-post__info{
    flex-basis: 50%;
    padding-left: 2rem;
}

.main-post__title{
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    margin-bottom: 1.5rem;
}

.main-post__meta{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.main-post__container-author{
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: 1.2rem;
}

.main-post__date{
    font-size: 1.2rem;
    opacity: .5;
    text-transform: uppercase;
}

.main-post__description{
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    color: var(--color-text-marquee);
}

.main-post__footer-info{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    font-size: 1.3rem;
    color: var(--color-text-marquee);
}

.footer-info__container{
    display: flex;
    gap: 1.5rem;
}

.main-post__read-more{
    border: 1px solid var(--color-text-marquee);
    padding: .5rem .5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.news__list{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.news__post{
    width: calc(50% - 3rem);
    display: flex;
}

.news__container-image{
    margin-right: 1.5rem;
}
.news__img{
    width: 9rem;
}

.news__detail{
    flex: 1;
    
}

.news__title-post{
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.news__data{
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--color-text-marquee);
    font-weight: 500;
}

.news__author{
    color: var(--color-secondary);
}



/* juegos */

.main__games{
    margin-bottom: 3rem;
}

.games__subheader{
    display: flex;
    background-color: var(--color-bg-navbar);
    padding: .5rem;
    margin-bottom: 3rem;
}

.games__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.games__game{
    flex-basis: calc(50% - 1.5rem);
    position: relative;
}
.game__img{
    width: 100%;
}

.game__rating{
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 2;
}

.game__details{
    color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    font-size: 2rem;
    
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color: var(--color-shadow);
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.game__details:hover{
    background-color: var(--color-secondary);
}


.game__container-category{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    display: inline-block;
    padding: .5rem;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
}







/* ultimos articulos */

.main__posts{
    margin-bottom: 3rem;
}
.posts__subheader{
    display: flex;
    background-color: var(--color-bg-navbar);
    color: var(--color-primary);
    padding: .5rem;
    margin-bottom: 3rem;
}

.posts__list-header{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
}

.list-header__title{
    background-color: var(--color-secondary);
    padding: .4rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.list-header--small{
    font-size: 1.3rem;
}

.posts__container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.posts__post{
    flex-basis: calc(50% - 1.5rem);
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--color-hover-sublist-item);
}

.post__img{
    width: 100%;
}

.post__container-image{
    position: relative;
}

.post__container-category{
    background-color: var(--color-secondary);
    display: inline-block;
    padding: .5rem;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--color-primary);
    position: absolute;
    bottom: 5%;
    left: 0;
}

.post__details{
    margin-top: 2rem;
}

.post__title{
    text-transform: uppercase;
    font-size: 2.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.post__meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--color-text-marquee);
}

.post__author{
    color: var(--color-secondary);
}

.post__description{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
    color: var(--color-bg-navbar);
    margin-bottom: 1rem;
}

.post__footer-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-text-marquee);
}

.post-footer__btn{
    border: 1px solid var(--color-text-marquee);
    padding: .5rem;
}

.posts__container-btn{
    width: 100%;
    text-align: center;
    margin: 2rem 0 3rem;
    text-transform: uppercase;
    color: var(--color-text-marquee);
    border: 1.5px solid var(--color-text-marquee);
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}






/* Aside */
.layout__aside{
    grid-area: aside;
    margin-top: 6rem;
    background-color: var(--color-bg-aside);
    padding: 1.5rem;
}

/* Login */

.aside__login{
    margin-bottom: 3rem;
}

.login__subbheader{
    display: flex;
    background-color: var(--color-bg-navbar);
    padding: .5rem;
    margin-bottom: 3rem;
}

.form__label{
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

.form__input{
    width: 100%;
    height: 4rem;
    border: 1px solid var(--color-hover-sublist-item);
    margin-bottom: 1.5rem;
}
.form__input:focus{
    outline: 1px solid var(--color-secondary);
}

.form__container-remember{
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    gap: .5rem;

    margin-bottom: 1.5rem;

}

.form__remember{
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    
}

/* .form__remember:checked{
    background-color: var(--color-secondary);
} */

.form__submit{
    width: 100%;
    height: 4rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    border-radius: .2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.login__register, .login__lost-pass{
    color: var(--color-secondary);
    font-size: 1.7rem;
    font-weight: 500;
}




/* redes sociales */

.aside__social{
    margin-bottom: 3rem;
}

.social__item{
    width: 100%;
    height: 6.2rem;
    padding: 1rem 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.social__link{
    display: flex;
    align-items: center;
}

.social__icon .fa-brands{
    font-size: 3.8rem;
    margin-right: 1rem;
}

.social__followers{
    display: flex;
    flex-direction: column;
    line-height: 1;
    
}

.social__word{
    font-size: 1.3rem;
    color: var(--color-primary);
    opacity: .7;
}

.social__numer{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.social__item--blue{
    background-color: var(--color-twitter);
}

.social__item--blue2{
    background-color: var(--color-facebook);
}

.social__item--red{
    background-color: var(--color-youtube);
}

.social__item--pink{
    background-color: var(--color-instagram);
}

.social__item--orange{
    background-color: var(--color-linkedin);
}


/* ultimos tweets */
.aside__tweets{
    width: 100%;
    height: 16rem;
    background-color: var(--color-twitter);
    color: var(--color-primary);
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 2.5rem 1.5rem;
}

.tweets__header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tweets__title{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.tweets__content{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 3rem;
}